<html>
    <head>
        <title>
            Answers
        </title>
        <style>
            table {
                border-collapse: 5 px;
                width: 100%;
                border-radius: 25 px;
            }

            th, td {
                text-align: center;
                padding: 8px;
            }

            tr{background-color: #f2f2f2}

            th {
                background-color: #4CAF50;
                color: white;
            }
        </style>
    </head>
    <body>
        {% if user.is_authenticated %}
            <table style="width:100%; border: none; background-color: white;">
                <tr style="border: none; background-color: white ">
                    <td style="border: none; background-color: white; text-align:left; ">Hi {{ user.username }} - This is the your attempt  </td>
                    <td style="border: none; background-color: white; text-align:right; "><a href="{% url 'logout' %}"> Logout </a></td>
                </tr>
            </table>
            <hr>
             <table style="width:100%; border: none; background-color: white;">
                <tr style="border: none; background-color: white ">
                    <td style="border: none; background-color: white; text-align:left; ">Correct Answers: {{ score.score }} </td>

                   
                </tr>
                <tr style="border: none; background-color: white ">
                    <td style="border: none; background-color: white; text-align:left; ">Attempt Date: {{ score.attempt_date }} </td> 
                </tr>
                <tr style="border: none; background-color: white ">
                    <td style="border: none; background-color: white; text-align:left; ">Quiz: {{ score.quiz }} </td> 
                </tr>
            </table>
            
            <br>
            <br>
        <table>
        {% for i in quiz %}
            <tr style="background-color: #4CAF50;text-align: left" ><td colspan="5" style="text-align: left">Q{{forloop.counter }}. {{ i.question }}</td></tr>
            <tr ><td>A. {{ i.choice_1 }}</td>
            <td>B. {{ i.choice_2 }}</td>
            <td>C. {{ i.choice_3 }}</td>
            <td>D. {{ i.choice_4 }}</td></tr>
            <tr><td colspan="2" style="text-align: left">Correct Answer: {{ i.answer }}</td>
                {% for j in answers %}
                    {% if i.id == j.question_id %}
                        {% if j.response.upper == i.answer.upper %}
                            <td colspan="2" style="text-align: left; background-color: green">Your Answer: {{ j.response }} </td>
                        {% else %}
                            <td colspan="2" style="text-align: left; background-color: darkred">Your Answer: {{ j.response }} </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            <tr>
            <tr></tr>
        {% endfor %}
        </table>


        {% else %}
            <h2> Please login</h2>
            <a href="{% url 'login' %}"> Login </a>
        {% endif %}


    </body>
</html>