<!Doctype html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        .navbar { border-radius:0; }
    </style>

    <!-- JS (load angular, ui-router, and our custom js file) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>


  <body>
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">{{ user }}</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref="profile">Profile</a></li>
        <li><a ui-sref="about">About</a></li>
        <li><a href="../logout">Logout</a></li>
    </ul>
</nav>
    <div ng-app='quiz' ng-controller="myCtrl" >
        

      {% verbatim %} {{ data }} {% endverbatim %}
      <table  class='table table-striped table-bordered table-hover table-condensed'> 
        <caption> Total Quizes</caption>
        <thead>
          <th>Name</th>
          <th>Date</th>
        </thead>
        <tbody>
         
          
        <tr ng-repeat="x in totalQuizes">
          <td>{% verbatim %} {{ x['quiz_title'] }} {% endverbatim %}</td>
          <td>{% verbatim %} {{ x['quizDate'] }} {% endverbatim %}</td>
        </tr>
       </body>
      </table>


    </div>
    
    <script>
      var app = angular.module('quiz', []);
      app.controller('myCtrl',function($scope,$http){
                        $http.defaults.xsrfCookieName = 'csrftoken';
        $http.defaults.xsrfHeaderName = 'X-CSRFToken';
        var quiz_res = $http.get('../quizes/');
        quiz_res.success(function(data, status, headers, config){
          console.log(data)
          $scope.totalQuizes = data;

        } );

        var att_res = $http.get('../userattempts/{{ user }}');
        att_res.success(function(data,status,headers,config){
          console.log(data)
        })
        });
        
 
    </script>
  </body>
</html>