<!Doctype html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <body>
    <div ng-app='quiz' ng-controller="myCtrl">
      <form name='loginform'>
        
        Username: <input ng-model="username" type="text" required > 
        <span ng-show="loginform.username.$touched && loginform.username.$invalid">User name is required</span>
        <br>
        Password: <input type="text" ng-model='password'  required>
        <span ng-show="loginform.password.$touched && loginform.password.$invalid">User name is required</span>
        <br>
        <button ng-click="submit()">Login</button>

        {% verbatim %} {{ status }} {% endverbatim %}

      </form>
    </div>
    
    <script>
      var app = angular.module('quiz', []);
      app.controller('myCtrl',function($scope,$window,$http){
        $scope.submit = function(){
                  $http.defaults.xsrfCookieName = 'csrftoken';
        $http.defaults.xsrfHeaderName = 'X-CSRFToken';

          console.log('clicked');
          console.log($scope.username)
          var login_obj = {
            "username": $scope.username,
            "password": $scope.password
          };
          var res = $http.post('login/',login_obj);
          res.success(function(data, status, headers, config) {
	          $scope.status = status;
            console.log(data['status'])
            if ( data['status'] == 'success')
            {
              console.log('changing view to home')
              $window.location.href = 'home'
              $window.location.href;
            }
	      	});
	      	res.error(function(data, status, headers, config) {
	      		alert( "failure message: " + JSON.stringify({data: status}));
	      	});		
          console.log(login_obj)
        }
        
      });
    </script>
  </body>
</html>