<!Doctype html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        .navbar { border-radius:0; }
    </style>

    <!-- JS (load angular, ui-router, and our custom js file) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

  <body>
    <div ng-app='quiz' ng-controller="myCtrl">
      <div class="row">
        <div class="col-sm-8 container">
          <h1> QMS <small>Quiz Management System</small> </h1>
          <br>
          <br>
        </div>
      </div>
      <div class="row">

      <div class='col-sm-6'>
        <form name='registrationform'>
          <div class"form-group">
            <label for="username">Username*</label>
            <input type="text" ng-model="registerUsername" required placeholder="Username" class="form-control" id='regUsermame'>

          </div>
          <div class"form-group">
            <label for="email">Email*</label>
            <input type="text" ng-model="registerEmail" required placeholder="email@example.com" class="form-control" id='regEmail'>
            
          </div>
          <div class"form-group">
            <label for="password">password*</label>
            <input type="text" ng-model="registerPassword" required placeholder="Passowrd" class="form-control" id='regPassword'>
            
          </div>
          <div class="form-group">
              <div class="checkbox">

                <label><input type="checkbox" ng-model="registerTeacher" checked='true'> Teacher</label>

              </div>
          </div>
          <br>
          <button ng-click="register()" class="btn btn-primary">Register</button>
        </form>
      </div>
      <div class="col-sm-6">
      <form name='loginform' >
        <div class="form-group">
        <label for="ussername">Username:</label>
        <input ng-model="username" type="text" required  placeholder="Enter username" class="form-control" id="username"> 
        </div>

        <span ng-show="loginform.username.$touched && loginform.username.$invalid">User name is required</span>

         <div class="form-group">
           <label for="pwd">Passowrd:</label>
           <input type="text" ng-model='password'  required  placeholder="Enter password" class="form-control" id="pwd">
         </div>
        <span ng-show="loginform.password.$touched && loginform.password.$invalid">User name is required</span>

        <button ng-click="submit()" class="btn btn-primary">Login</button>

        

      </form>
      </div>

      </div>
    </div>
    
    <script>
      var app = angular.module('quiz', []);
      app.controller('myCtrl',function($scope,$window,$http){
        $scope.submit = function(){
                  $http.defaults.xsrfCookieName = 'csrftoken';
        $http.defaults.xsrfHeaderName = 'X-CSRFToken';

          console.log('clicked');
          console.log($scope.username)
          var login_obj = {
            "username": $scope.username,
            "password": $scope.password
          };
          var res = $http.post('login/',login_obj);
          res.success(function(data, status, headers, config) {
	          $scope.status = status;
            console.log(data['status'])
            if ( data['status'] == 'success')
            {
              console.log('changing view to home')
              $window.location.href = 'home'
              $window.location.href;
            }
	      	});
	      	res.error(function(data, status, headers, config) {
	      		alert( "failure message: " + JSON.stringify({data: status}));
	      	});		
          console.log(login_obj)
        }
        $scope.register = function(){
            $http.defaults.xsrfCookieName = 'csrftoken';
        $http.defaults.xsrfHeaderName = 'X-CSRFToken';

          console.log('register clicked');
          console.log($scope.registerUsername)
          console.log($scope.registerEmail)
          console.log($scope.registerPassword)
          console.log($scope.registerTeacher)
          if ($scope.registerUsername && $scope.registerEmail && $scope.registerPassword ){
            console.log("all values are present")
            if( $scope.registerTeacher == null){
              console.log("value is null")
              $scope.registerTeacher= false
            }
          console.log($scope.registerUsername)
          console.log($scope.registerEmail)
          console.log($scope.registerPassword)
          console.log($scope.registerTeacher)

          var data = {
            "username": $scope.registerUsername,
            "email": $scope.registerEmail,
            "password": $scope.registerPassword,
            "teacher": $scope.registerTeacher
          };
          console.log("payload prepared")
          console.log(data);
          $http.defaults.xsrfCookieName = 'csrftoken';
          $http.defaults.xsrfHeaderName = 'X-CSRFToken';

          console.log('clicked');
          
          var res = $http.post('register-rest/',data);
          res.success(function(data, status, headers, config) {
            console.log(data)
          });

     
          }
        }
        
      });
    </script>
  </body>
</html>